@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf");
}

*{
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}


.navbar-sm-animation {
  z-index: 1000000;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0);
  backdrop-filter: blur(190px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);

}

.button-animation {
  display: flex;
  position: relative;
  text-decoration: none;
  font-family: "poppins";
  color: #fff;
  background: #444444;
  border: 2px solid #444444;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background 0.2s;
  overflow: hidden;
}

.button-animation:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #444444;
  transition: transform 0.2s;
  transform-origin: right;
  transform: scaleX(1);
  z-index: -1;
}

.button-animation:hover:before {
  transform: scaleX(0);
}

.button-animation:hover {
  background: transparent;
}
.button-animation-bgWhite {
  display: flex;
  position: relative;
  text-decoration: none;
  font-family: "poppins";
  color: #444444;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background 0.2s;
  overflow: hidden;
}

.button-animation-bgWhite:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  transition: transform 0.2s;
  transform-origin: right;
  transform: scaleX(1);
  z-index: -1;
}

.button-animation-bgWhite:hover:before {
  transform: scaleX(0);
}

.button-animation-bgWhite:hover {
  background: transparent;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: #1A202C;
  border: 1px solid #2D3748; /* Adjusted border color to a slightly lighter shade */
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid #2D3748; /* Adjusted border color */
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
  color: #E2E8F0; /* Set default color for icons */
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: #63B3ED; /* Adjusted hover color */
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: #A0AEC0; /* Adjusted text color */
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid #2D3748; /* Adjusted border color */
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid #2D3748; /* Adjusted border color */
  overflow: hidden;
  cursor: pointer;
  background: #1A202C;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: #2D3748; /* Adjusted hover background color */
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #3182CE 0%, #63B3ED 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid #2D3748; /* Adjusted border color */
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: #718096; /* Adjusted disabled color to a grayish color */
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: #ddeeff; /* Adjusted background number color */
  opacity: 0;
  font-size: 5em;
  position: absolute;
  top: -0.1em;
  right: -0.01em;
  transition: 0.10s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.15;
  transition: 0.1s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}
